@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  /* background-color: #FAF9F6; */
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  /* background: #0F2027; */
/* background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #2C5364, #203A43, #0F2027); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
background: #161d27;

}

.dark-background {
  /* background: #15202b; */


}

.dark-background:hover {
  /* @apply bg-glow; */
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 70%)
}

.nav-link.active{
  text-decoration: underline 3px #646FD4;
  text-underline-offset: 8px;
}
/* .nav-link{
  color: red;
} */