@import 'tailwindcss/base';
@import url('/node_modules/dejavu-sans/css/dejavu-sans.css');
html{
  scroll-behavior: smooth
}
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 
    /* font-family: 'DejaVu Sans', sans-serif; */
    text-transform: none;
}



